<!DOCTYPE html>
<html>
<head>
	<title>Book information</title>
</head>
<body>
	<p>Book id <%=id%></p><br>
	<p>Book name <%=name%></p><br>
	<p>Book author <%=author%></p><br>
	<p>Image <%=image%><p><br>
	<p>Description <%=desc%></p><br>
	<p>Price <%=price%></p><br>
	<p>Availability <%=available%></p><br>
	<p>Subject code <%=subjcode%><p>
	<form action="/addtocart" method="POST">
		<button type="submit">Add to cart</button>
	</form>

	
</body>